@model List<TechJobsPersistent.Models.Employer>
<h1>Employer: Name</h1>

<div>
    @foreach(Employer employer in Model)
            {
                <p>@employer.Name</p>
                <p>@employer.Location</p>
            }

</div>
